@use "./base/reset";

@use "./abstracts/variables" as v;

@use "./components/index" as *;

body {
  font-family: v.$fontFamily;
  background-color: v.$bgColor;
  font-size: v.$fontSize;
  text-shadow: 1px 1px 3px rgb(255, 255, 255);
  font-weight: bold;
}
