@use "../abstracts/mixin" as m;

.cards {
  display: flex;
  text-align: center;
  gap: 0.5rem;
  padding: 0.8rem;
  .card1:hover {
    transform: scale(1.05);
    outline: 4px solid rgb(255, 255, 255);
    outline-offset: 1px;
    transition: all 0.3s ease;
  }
  .card2:hover {
    transform: scale(1.05);
    outline: 4px solid rgb(255, 255, 255);
    outline-offset: 1px;
    transition: all 0.3s ease;
  }
  .card3:hover {
    transform: scale(1.05);
    outline: 4px solid rgb(255, 255, 255);
    outline-offset: 1px;
    transition: all 0.3s ease;
  }
  .card4:hover {
    transform: scale(1.05);
    outline: 4px solid rgb(255, 255, 255);
    outline-offset: 1px;
    transition: all 0.3s ease;
  }
  .card1 {
    @include m.myBox(green, rgb(91, 2, 2));
  }
  .card2 {
    @include m.myBox(rgb(128, 0, 0), rgb(91, 2, 2));
  }
  .card3 {
    @include m.myBox(rgb(156, 213, 0), rgb(91, 2, 2));
  }
  .card4 {
    @include m.myBox(darkblue, rgb(91, 2, 2));
  }
}
